$base-font-family: 'Montserrat', sans-serif;

$c-root: #535766;

$c-dark: #333333;
$c-black: #000;
$c-white: #fff;
$c-primary: #0096D5;
$c-primary-dark: #1B83B8;
$c-danger: #F95738;
$c-disabled: #848484;
$c-placeholder: #D9D9D9;
$c-border: $c-root;

$column-gutter: 30px;
$column-gutter-sm: 20px;