@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.swiper-button {
  @apply z-10 m-0 flex size-7 items-center justify-center text-primary-500 after:hidden hover:text-primary-700 lg:size-14;
}

.swiper-button svg {
  @apply block size-10;
}

.swiper-button--lg {
  @apply size-20;
}

.swiper-button--light {
  @apply text-white hover:text-white;
}

.swiper-horizontal .swiper-button {
  @apply top-1/2 -translate-y-1/2;
}

/* .swiper-vertical .swiper-button-prev {
  @apply left-1/2 top-0 [transform:translate(-50%,-50%)_rotate(90deg)];
}

.swiper-vertical .swiper-button-next {
  @apply bottom-0 left-1/2 top-auto [transform:translate(-50%,50%)_rotate(90deg)];
} */

.swiper-pagination {
  @apply static mt-2.5 leading-none;
}

.swiper-pagination-bullet {
  @apply h-2 w-2 bg-border-700 lg:h-3 lg:w-3;
}

@layer base {
  :root {
    --header-height: 3.75rem;
  }

  @font-face {
    font-family: "Roboto";
    font-weight: 100;
    src:
      local("Roboto"),
      url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  }

  @font-face {
    font-family: "Roboto";
    font-weight: 400;
    src:
      local("Roboto"),
      url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Roboto";
    font-weight: 500;
    src:
      local("Roboto"),
      url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Roboto";
    font-weight: 700;
    src:
      local("Roboto"),
      url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src:
      local("Montserrat"),
      url("../fonts/Montserrat/static/Montserrat-Regular.ttf")
        format("truetype");
  }

  @font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src:
      local("Montserrat"),
      url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "PT Sans";
    font-weight: 400;
    src:
      local("PT Sans"),
      url("../fonts/PT-Sans/PTSans-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "PT Sans";
    font-weight: 700;
    src:
      local("PT Sans Bold"),
      url("../fonts/PT-Sans/PTSans-Bold.ttf") format("truetype");
  }

  html,
  body {
    @apply flex min-h-full flex-col;
  }

  body {
    @apply min-w-80 grow font-body text-sm leading-[1.3125rem] text-default-500 lg:text-base;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-[1200px] px-3.5 sm:px-20 lg:px-3.5;
  }

  .container-lg {
    @apply mx-auto max-w-[1440px] px-3.5 sm:px-20 lg:px-3.5;
  }

  .title-h1 {
    @apply text-[2.125rem] font-bold leading-[1.15] md:leading-[1.1] xl:text-title-1;
  }

  .title-h2 {
    @apply text-2xl font-bold lg:text-3xl xl:text-title-2;
  }

  .title-h3 {
    @apply text-xl font-bold lg:text-2xl xl:text-title-3;
  }

  .title-h4 {
    @apply text-lg lg:text-2xl xl:text-title-4;
  }

  .title-h5,
  .title-h6 {
    @apply text-lg lg:text-2xl xl:text-title-5;
  }

  .link {
    @apply text-primary-500 underline hover:text-primary-500/75 hover:no-underline;
  }

  .link--dark {
    @apply text-black hover:text-black/75;
  }

  .link--current {
    @apply text-current hover:text-current hover:opacity-85;
  }

  .badge {
    @apply rounded-3xl px-2 py-1 font-body text-[0.625rem] font-bold uppercase leading-none;
  }

  .badge--danger {
    @apply bg-danger-500 text-white;
  }

  .form-control {
    @apply h-[1.875rem] w-full rounded-md border border-border-300 px-2.5 text-base focus:border-primary-700 focus:outline-none;
  }

  .button {
    @apply cursor-pointer rounded-lg bg-primary-700 px-3 py-2 text-center leading-[normal] text-white lg:py-2 xl:px-5 xl:text-xl;
  }

  .button--sm {
    @apply px-3 py-1 text-xs lg:py-2 lg:text-base xl:px-5 xl:text-xl;
  }

  .button--light {
    @apply bg-white text-primary-500 transition-colors hover:bg-white/90;
  }

  .button--outline-dark {
    @apply bg-transparent text-black outline outline-1 outline-black hover:bg-black hover:text-white;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
